

#root {
    height: 100vh;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header{
    background-color: red;
    width: 100%;
}

.footer {
    background-color: green;
    width: 100%;
}

